<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat Rooms</title>
  </head>
  <body>
    What chat room would you like to enter?<br />
    <input
      id="room-name-username"
      type="text"
      size="100"
      placeholder="Enter your username"
    /><br />
    <input
      id="room-name-input"
      type="text"
      size="100"
      placeholder="Enter room name"
      required
    /><br />
    <input id="room-name-submit" type="button" value="Enter" />

    <script>
      document.querySelector("#room-name-username").focus();
      document.querySelector("#room-name-input").onkeyup = function (e) {
        if (e.key === "Enter") {
          // enter, return
          document.querySelector("#room-name-submit").click();
        }
      };

      document.querySelector("#room-name-submit").onclick = function (e) {
        var roomName = document.querySelector("#room-name-input").value;
        var url = "/chat/" + encodeURIComponent(roomName);
        var username = document.querySelector("#room-name-username").value;
        if (username) {
          url += "/?username=" + encodeURIComponent(username);
        }
        window.location.href = url;
      };
    </script>
  </body>
</html>
